src/main/resources/schema.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="credits" type="creditsType"/>
    
    <xs:complexType name="creditsType">
        <xs:sequence>
            <xs:element name="credit" type="creditType" maxOccurs="unbounded"/>
        </xs:sequence>        
    </xs:complexType>
	
	<xs:complexType name="creditType">
		<xs:sequence>
            <xs:element name="maxAmount" type="xs:string"/>
            <xs:element name="rate" type="xs:string"/>
            <xs:element name="term" type="xs:string"/>
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" use="required"/>
    </xs:complexType>

</xs:schema>